
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- main -->
<div class="main">
    <!-- header -->
    <header class="header-site">
        <div class="logo-site animated bounceInDown" data-animation-delay="700">
            <h1>FT Go</h1>
        </div>
    </header>
    <!-- /header -->
    <!-- section -->
    <section class="section fullscreen site-main">
        <div class="container-section">
            <div class="container-table">
                <div class="content-table">
                    <!-- bt-carousel -->
                    <div class="bt-carousel">

                        <!-- home section -->
                        <div class="item-slide show">
                            <!-- container -->
                            <div class="container">
                                <div class="row">
                                    <div class="col-md-10 col-md-offset-1">

                                        <!-- content slide -->
                                        <div class="content-slide">
                                            <!-- Clock Countdown -->
                                            <!-- Subscribe Form -->
                                            <div class="form animated bounceInUp" data-animation-delay="700">
                                                <!-- container form -->
                                                <div class="container-form">
                                                    <!-- section page -->
                                                    <div class="section-page" id="signup">
                                                        <form class="subscription-form mailchimp" method="post" id="mc-form">
                                                            <input type="text" id="cep" class="border-radius-22 bottom-margin" name="cep" placeholder="CEP" /><br /><br />
                                                            <input type="text" id="uf" class="border-radius-22 bottom-margin" name="uf" placeholder="Estado" /><br /><br />
                                                            <input type="text" id="cidade" class="border-radius-22 bottom-margin" name="cidade" placeholder="Cidade" /><br /><br />
                                                            <input type="text" id="bairro" class="border-radius-22 bottom-margin" name="bairro" placeholder="Bairro" /><br /><br />
                                                            <input type="text" id="rua" class="border-radius-22 bottom-margin" name="rua" placeholder="Rua" /><br /><br />
                                                            <input type="text" id="numero" class="border-radius-22 bottom-margin" name="numero" placeholder="Numero" /><br /><br />
                                                            <button type="submit" id="subscribebtn" class="border-button no-bottom-margin">Buscar</button>
                                                        </form>
                                                        <p class="message-error"></p>
                                                        <p class="message-success"></p>
                                                    </div><!-- /section page -->
                                                </div><!-- /container form -->
                                            </div><!-- /Subscribe Form -->
                                            <!-- socials icons -->
                                            <nav class="socials-icons animated bounceInUp" data-animation-delay="700">
                                                <ul>
                                                    <li><a href="https://www.facebook.com/bruno.kolenyak"><i class="ion-social-facebook"></i></a></li>
                                                    <li><a href="https://twitter.com/"><i class="ion-social-twitter"></i></a></li>
                                                    <li><a href="https://www.linkedin.com"><i class="ion-social-linkedin"></i></a></li>
                                                </ul>
                                            </nav><!-- /socials icons -->
                                            <!-- copyright -->
                                            <footer class="copy-right animated bounceInUp" data-animation-delay="700">
                                                <div class="copyright">
                                                    © 2016 <a href="http://templatestock.co">Grupo 100 ideias!!!</a> - All Rights Reserved
                                                </div>
                                            </footer><!-- /copyright -->

                                        </div><!-- /content slide -->
                                    </div>
                                </div><!-- /row -->
                            </div><!-- /container -->
                        </div>
                        <!-- /home section -->
                    </div><!-- /bt-carousel -->
                </div>
            </div>
        </div>
    </section><!-- /section -->
</div><!-- /main -->


