
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<!-- main -->
<div class="main">
    <!-- header -->
    <header class="header-site">
        <div class="logo-site animated bounceInDown" data-animation-delay="700">
            <h1>FT Go</h1>
        </div>
    </header>
    <!-- /header -->
    <!-- section -->
    <section class="section fullscreen site-main">
        <div class="container-section">
            <div class="container-table">
                <div class="content-table">
                    <!-- bt-carousel -->
                    <div class="bt-carousel">

                        <!-- services section -->
                        <div class="item-slide show">
                            <!-- container -->
                            <div class="container">
                                <div class="row">
                                    <div class="col-md-10 col-md-offset-1">

                                        <!-- header section -->
                                        <div class="header-section animated bounceInDown" data-animation-delay="700">
                                            <!-- title section -->
                                            <h2 class="title-section">Our Team</h2><!-- /title section -->
                                            <div class="line-separate line-white line-center"><span></span></div>
                                            <p>O que mais importa para nós são as pessoas, todos que trabalharam nesse site é uma pessoa com família, hobbies, paixões e sonhos que tornam cada pessoa única.</p>
                                        </div>
                                        <!-- /header section -->
                                        <!-- content slide -->
                                        <div class="content-slide">
                                            <div class="row animated bounceInUp" data-animation-delay="700">
                                                <!-- Team -->
                                                <div class="col-md-3 col-sm-6">
                                                    <div class="panel">
                                                        <img src="images/team-1.jpg" data-at2x="images/team-1@2x.jpg" alt="team-1" class="img-circle img-responsive">
                                                        <h4>Alberto Angelo</h4>
                                                        <h6>PROJECT MANAGER</h6>
                                                        <a href="https://www.facebook.com/alberto.angelo.50?fref=ts"><i class="fa fa-facebook"></i></a>
                                                    </div>
                                                </div><!-- /panel -->

                                                <div class="col-md-3 col-sm-6">
                                                    <div class="panel">
                                                        <img src="images/team-2.jpg" data-at2x="images/team-2@2x.jpg" alt="team-2" class="img-circle img-responsive">
                                                        <h4>Bruno Kolenyak</h4>
                                                        <h6>WEB DEVELOPER</h6>
                                                        <a href="https://www.facebook.com/bruno.kolenyak?fref=ts"><i class="fa fa-facebook"></i></a>

                                                    </div>
                                                </div><!-- /panel -->

                                                <div class="col-md-3 col-sm-6">
                                                    <div class="panel">
                                                        <img src="images/team-3.jpg" data-at2x="images/team-3@2x.jpg" alt="team-3" class="img-circle img-responsive">
                                                        <h4>Heitor Madeira</h4>
                                                        <h6>CEO</h6>
                                                        <a href="https://www.facebook.com/heitormadeira?fref=ts"><i class="fa fa-facebook"></i></a>
                                                    </div>
                                                </div><!-- /panel -->

                                                <div class="col-md-3 col-sm-6">
                                                    <div class="panel">
                                                        <img src="images/team-4.jpg" data-at2x="images/team-4@2x.jpg" alt="team-4" class="img-circle img-responsive">
                                                        <h4>William Felipe</h4>
                                                        <h6>WEB DESIGN</h6>
                                                        <a href="https://www.facebook.com/william.felipe.94?fref=ts"><i class="fa fa-facebook"></i></a>
                                                    </div>
                                                </div><!-- /panel -->
                                                <!-- /Team -->
                                            </div><!-- /row -->

                                        </div><!-- /content slide -->
                                    </div>
                                </div><!-- /row -->
                            </div><!-- /container -->
                        </div>
                        <!-- /Team section -->

                    </div><!-- /bt-carousel -->
                </div>
            </div>
        </div>
    </section><!-- /section -->
</div><!-- /main -->

